<nav>
  <div>
    <img id="logo" src="../../images/logo.webp" alt="CCC logo" />
  </div>
  <div id="links">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if loggedIn}}
      <a href="/login">Logout</a>

    {{else}}

      <a href="/login">Login</a>

    {{/if}}

  </div>
</nav>