<!-- This is the container for a post list item -->
<div id="post-list-item">
  <!-- This is a container for the post title -->
  <div id="title">
    <!-- Placeholder for the post title value -->
    {{title}}
  </div>

  <div id="date">
    <!-- Placeholder for the post creation date value -->
    {{created_on}}
  </div>

</div>