{{>header}}
<h1>My Posts</h1>
<ul class="list-none">
      <!-- Loop through each post in the 'post' array provided to the template -->
      {{#each posts as |post| }}
      <!-- List item for each post using a 'post' partial that formats the post data -->
      <li>
       <a href="/api/post/{{post.id}}">{{> post }}</a>
      </li>
      {{/each}}
    </ul>


<h2>Create a New Post</h2>

<form action="/api/post/submit/" method="post">

  <label for="post">Post:</label><br />
  <textarea id="post" name="post" rows="10" required></textarea><br />
  <input type="submit" value="Submit" />
</form>