<html lang="en">
  <head>
    <!-- Defines the document's character encoding as UTF-8 which includes most characters from all known languages -->
    <meta charset="UTF-8" />
    <!-- Sets the viewport to control how the webpage is displayed on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- The title of the page which dynamically changes based on the 'name' variable -->
    <title>Code and Coffee Corner</title>
  </head>
  <body>
    test homepage
  </body>
</html>