<body>
<!-- Including a header template -->
{{>header}}  
<!-- Starting an unordered list with a CSS class "list-none" -->
<ul class="list-none">
      <!-- Loop through each post in the 'post' array provided to the template -->
      {{#each posts as |post| }}
      <!-- List item for each post using a 'post' partial that formats the post data -->
      <li>
        <!-- Link to a post with its ID using a 'post' partial template -->
       <a href="/api/post/{{post.id}}">{{> post }}</a>
      </li>
      <!-- End of the iteration through 'posts' -->
      {{/each}}
  <!-- Closing the unordered list -->
  </ul>

</body>